@import "normalize.css";

:root {
  --primary: #6842ff;
  --black: #000;
  --white: #fff;
  --background: #0c0d14;
  --light-background: #13141e;
  --text-color-light: #e5e6ee;
  --text-color-dark: #636476;
  --border-color: #2a2a31;

  --font-family: "ProximaNova", sans-serif;

  --min-width: 660px;

  // Default layout
  --header-height: 60px;
  --footer-height: 140px;
  --default-sidebar-width: 60px;
  --wide-sidebar-width: 200px;
  --horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color-light);
  overflow-y: overlay;
  background-color: var(--background);
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--text-color-dark);

  &:hover {
    background-color: var(--text-color-light);
  }
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color-light);
  text-decoration: none;
}

// Custom tippy tooltip
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
}

ul {
  list-style-type: none;
}
