.wrapper {
  margin: 4px 0;
}

.old-comment {
  display: flex;
  flex-direction: row;
}

.old-comment__profile {
  padding: 10px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
  }
}

.old-comment__header {
  display: flex;
  flex-direction: row;
}

.old-comment__date {
  margin-top: 3px;
  margin-left: 10px;
  font-size: 14px;
}

.old-comment__actions {
  margin-left: 10px;
  color: rgb(255, 52, 102);
  cursor: pointer;
}
