.wrapper {
  width: 100%;
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--text-color-light);
  background-color: var(--header-background-color);
  overflow: hidden;

  input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    background-color: var(--header-background-color);
    color: var(--text-color-light);
  }

  .input-icon {
    color: var(--text-color-light);
    width: 40px;
    cursor: pointer;
  }
}

.old-comment-wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}
