.wrapper {
  width: 380px;
}

.inner {
  width: 100%;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 14px 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-item {
  margin: 4px;
}
