.wrapper {
  width: 100%;
  height: 140px;
  border-top: 1px solid var(--border-color);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media {
  margin-top: 20px;
}

.media-item {
  margin: 4px;
}

.contact {
  margin: 20px 0;
}

.contact-item {
  margin: 20px 10px;
  cursor: pointer;
}
