.wrapper {
  --header-background-color: rgba(33, 34, 51, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-background-color);
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}

.logo-link > img {
  width: 42px;
}

.logo-link > span {
  margin-left: 20px;
  line-height: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}

.actions {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
