.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  width: 80%;
  max-width: 900px;
}

.title {
  color: var(--white);
  font-size: 3.6rem;
  font-weight: 800;
  padding: 30px 20px;
}

.details {
  background-color: #13141e;
  border-radius: 30px;
  padding: 0 30px;
  margin-bottom: 30px;
}

.details-title {
  color: var(--text-light-color);
  font-size: 2.6rem;
  font-weight: 700;
  padding: 20px 0;
}

.submit-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  > button {
    width: 200px;
  }
}
