.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.expand > .game-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0;

  &:hover {
    transition: 0.5s;
    opacity: 1;
  }
}

.iframe {
  cursor: default;
  width: 100%;
  aspect-ratio: auto 16 / 9;
  overflow: hidden;
  border: none;
  background-color: var(--background);
}

.game-actions {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  background-color: #212233;
}

.action {
  height: 100%;
  margin: 0 10px;
  cursor: pointer;
  color: var(--white);
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-of-type {
    margin-right: 20px;
  }

  span {
    font-size: 1.6rem;
    margin-right: 4px;
  }
}
