.wrapper {
  width: var(--default-sidebar-width);
  border-right: 1px solid var(--border-color);
  height: calc(100vh - var(--header-height));
  position: fixed;
  left: 0;
  padding-top: 20px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 2;
  transition: 0.3s;
  background-color: var(--background);
  padding-bottom: 100px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wide {
  width: var(--wide-sidebar-width);
}
